@font-face {
	font-family: Montserrat;
	font-weight: normal;
	src: url("./../fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
	font-family: MontserratBold;
	font-weight: bold;
	src: url("./../fonts/Montserrat-Bold.ttf") format("ttf");
}

$primary: #339a68;
$secondary: #29724f;
$light: #fbdab4;
$dark: #3c3737;

$font-family-base: "Montserrat", "Source Sans Pro", system-ui, -apple-system,
	BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-vue/src/index.scss";

@import "./components/navbar.scss";

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
